.header .logo,
.header nav .register{
    margin-left: 2rem;
}

.header nav ul {
    display: flex;
}

.header .products {
    position: relative;
}

.header .products,
.header ul li a {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem;
    border-radius: 5px;
    transition: 0.3s;
}

.header .products ul {
    display: none;
    position: absolute;
    flex-direction: column;
    padding: 1rem;
    border-radius: 5px;
    width: 100%;
    top: 45px;
    left: 0;
    z-index: 1;
    background-color: #FFF;
    box-shadow: 2px 3px 5px #000;
}

.header .products:hover,
.header ul li a:hover{
    background-color: var(--text-background-color-hover);
    color: var(--text-color-hover); 
}

.header .products ul li a:hover {
    font-weight: 600;  
    background-color: var(--text-background-color-hover);
    color: var(--text-color-hover);  
}

.header ul li:hover>ul{
    display: flex;
} 

.header .products::after {
    content: "";
    background:  url("../img/angle-down-solid.svg") no-repeat;
    width: 15px;
    height: 15px;
    margin-left: 5px ;
    transition: 0.3s; 
}

.header .products:hover::after {
    transform: rotate(180deg);
}

.header .register { 
    color: #FFF;
    background-color: var(--registration-button-color);
    transition: 0.5s ease-in-out; 
    }

.header .register:hover{
    color: #FFF;
    background-color: var(--registration-button-color-hover);
}

.mobile-menu-icon,
.mobile-menu{
    display: none;
}

.mobile-menu-icon img{
    width: 40px;
    height: 40px;
    padding: 0.5rem;
}

.mobile-menu-icon.open {
    border-radius: 5px;
    background-color: var(--registration-button-color);
    color: #FFF;
}