:root {
    --probel-color: #004878;
    --pelmex-color: #ae0f0a;
    --text-color-hover: #337ab7;
    --text-background-color-hover: #337ab715;
    --registration-button-color: #126DA6 ;
    --registration-button-color-hover: #004878;
}